.root {
  margin: auto;
  max-width: 500px;
  background-color: #F6F6F6; }

h1 {
  text-align: center;
  padding: 10px; }

.headerIcon {
  vertical-align: middle;
  margin: 0 15px;
  text-align: text-bottom; }

.listbook-root {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px; }

.listbook-titlebar {
  display: flex; }

.listbook-title {
  flex-grow: 1; }

.listbook-searchfilter {
  background: white;
  border: 2px solid #e5e7ea;
  border-radius: 4px; }
  .listbook-searchfilter .MuiOutlinedInput-root {
    padding-right: 0;
    border: 1px solid #e5e7ea; }

.listbook-list {
  flex-grow: 1; }

.listbook-list-item {
  color: #222529;
  border: 2px solid #e5e7ea;
  border-bottom: none;
  background: #FFFFFF; }

.listbook-list-item:last-of-type {
  border-bottom: 2px solid #e5e7ea; }

.listbook-list-phoneicon {
    padding: 2px;
    margin: 20px 10px 0 0; }

.listbookform-root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px; }

.listbookform-title {
  text-align: center;
  padding: 0px; }

.listbookform-root-form {
  display: flex;
  flex-direction: column;
  gap: 10px; }

.listbookform-submit {
  max-width: 100px; }

.listbookform-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px; }
